<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="RestaurantConfiguration" type="Foodle.Service.Configuration.RestaurantConfiguration, Foodle.Service, Version=1.0.0.0, Culture=neutral"/>
  </configSections>
  <!-- Configuration settings for MyConfiguration Starts -->
  <RestaurantConfiguration Deadline="11:30">
    <Restaurants>
      <Restaurant Name="Pizzeria D'Angelo" Days="Tuesday|Thursday|Friday"/>
      <Restaurant Name="Döner" Days="Monday|Tuesday|Wednesdays|Thursday|Friday"/>
      <Restaurant Name="Vapiano" Days="Monday|Tuesday|Wednesdays|Thursday"/>
      <Restaurant Name="Subway" Days="Monday|Tuesday|Wednesdays|Thursday|Friday"/>
      <Restaurant Name="Akropolis" Days="Monday|Tuesday|Wednesdays|Thursday|Friday"/>
      <Restaurant Name="McDonalds" Days="Monday|Tuesday|Wednesdays|Thursday|Friday"/>
      <Restaurant Name="BurgerKing" Days="Monday|Tuesday|Wednesdays|Thursday|Friday"/>
      <Restaurant Name="Kentucky Fried Chicken" Days="Monday|Tuesday|Wednesdays|Thursday|Friday"/>
      <Restaurant Name="Schlemmergrill" Days="Monday|Tuesday|Wednesdays|Thursday|Friday"/>
      <Restaurant Name="Thier-Gallerie" Days="Monday|Tuesday|Wednesdays|Thursday"/>
      <Restaurant Name="Bei Mama" Days="Monday|Tuesday|Wednesdays|Thursday"/>
    </Restaurants>
  </RestaurantConfiguration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows" />
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NewBinding0">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Foodle.Service.FoodleService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0"
          contract="Foodle.Service.IFoodleService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
